 .button-style {
            background-color: #b6ff00;
            color: #ff6a00;
            border: 1px solid #fff;
            height: 30px;
            width: 80px;
            font-size: 16px;
            border-radius: 5px;
            float: right;
        }

        .input-bar {
            background-color: #b6ff00;
            color: #000;
            border: 1px solid #fff;
            height: 30px;
            width: 160px;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 8px;
        }

        #right, #left {
            font-family: sans-serif;
            font-style: italic;
            font-weight: bolder;
            display: inline-block;
            border: 3px solid #b6ff00;
            border-radius: 20px;
            color: #ff6a00;
            padding: 20px;
            background-color: #61c249;
        }

        #right, #left {
            height: 370px;
            width: 400px;
        }

        #left {
            margin-right: 5px;
        }

       #wrapper , #left, #right {
            display: inline-block;
            float: left;
        }

        #wrapper {
            border: 1px solid #b6ff00;
        }

        .scoreTable, .scoreTable td, .scoreTable th {
            border: 1px solid #000;
            border-collapse: collapse;
            color: red;
            padding: 5px;
        }

        #hiddenForms {
            display: none;
        }

        .loadingScores{
            font-size: 40px;
            font-weight: bold;
            color: red;
        }

        .fb-like {
            margin: 20px;
        }